@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Inter", sans-serif;
  font-feature-settings: "cv11";
  font-display: swap;
  line-height: 35px;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
    font-display: swap;
  }
}
